.rightsContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:"Roboto Mono";
    max-width: 1600px;
}
.Header{
    margin-top:3rem;
    font-size:1.4rem;
    color:#EAEAEA;
    text-align: center;
    line-height: 1.5;
}
.ContentBox{
    width:100%;
    max-width: 65rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
    gap:1rem;
}
.ContentBox h3{
    display:flex;
    margin-left:3rem;
}
.section{
    width:100%;

    background-color: #2a2f33;
    border-radius: 1rem;
    box-sizing: border-box;
    padding:1rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.section .sectionTitle{
    color:#EAEAEA;
    font-size:1.3rem;
}
.sectionContent{
    color:#B0B8BF;
    text-align: justify;
}
.sectionContent p{
    line-height: 1.2;
    margin:0rem 1rem;
}
.sectionTiny{
    min-height: 6rem;
}

.sectionSmall{
    min-height: 9rem;
}

.sectionMedium{
    min-height: 12rem;
}

.sectionLarge{
    min-height: 15rem;
}

@media (max-width: 768px) {
    .rightsContainer {
        padding: 0 1rem;
    }
}
@media (max-width: 1024px) {
    .rightsContainer {
        padding: 0 1rem;
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInOnLoad {
  opacity: 0;
}

.fadeInOnLoad.visible {
  animation: fadeInUp 0.7s ease-out forwards;
}