.Footer{
    background-color: #EAEAEA;
    color:white;
    border-top: 3px solid #424b54;

    width: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    
    gap:0.5rem;
}
.FooterContentBox{
    display:flex;
    gap: 2em;
    margin-top: 1rem;
}
.FooterContentBox a{
    background-color:#424b54;
    border: 0.15rem #424b54 solid;
    border-radius: 0.5rem;
    text-decoration-line: none;
    text-decoration-color: white;
    color:#EAEAEA;
    padding:0.1rem; 
}
.FooterContentBox a:hover{
    box-shadow: 0px 0px 2px black;
    transform: translateY(-1px);
}
.Footer .CopyrightText{
    color:#424b54;
    margin-bottom: 0.5rem;
}


