.sectionContainer{
    max-width:1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
    font-family: "Roboto Mono";
    gap:3rem;
}
.heroSection{
    margin-top:5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:1rem;
    text-align: center;
}
.heroSection h2{
    font-size:1.4rem;
}
.heroSection p{
    font-size:1.1rem;
    text-align: center;
    line-height: 1.2;
}
.stepsSection{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.stepsGrid{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.stepItem{
    min-width:35rem;
    max-width:40rem;
    min-height:6rem;

    background-color: #2A2F33;
    padding:1rem;

    display:flex;
    flex-direction: column;
    gap:1rem;
    border-radius: 1rem;
}
.icon{
    display:flex;
}
.IconBox{
    display:flex;
    align-items: center;
    justify-content: center;
}
.stepHeader{
    display:flex;
    flex-direction: row;
    gap:1rem;
    padding-bottom:1rem;
    border-bottom: 1px #EAEAEA solid;
}
.stepItem h3{
    text-align:left;
}
.stepItem p{
    line-height: 1.2;
    text-indent: 0.3rem;
    text-align: justify;
}
.ctaSection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.ctaSection h2{
    font-size:1.3rem;
}
.ctaSection p{
    font-size:1rem;
    text-align: center;
    line-height: 1.2;
}
.ctaButton{
    background-color:#2A2F33;
    padding:1rem;
    text-decoration-line: none;
    color:#EAEAEA;
    border-radius: 1rem;
    margin-bottom:3rem;
}
.IconBox{
    width:1.1rem;
    min-width:1.1rem;
    height:1.1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.icon{
    width:100%;
    height:100%;
}
.ctaButton:hover{
    background-color:#323841;
    transform: scale(1.03);
    transition: 0.1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInOnLoad {
  opacity: 0;
}

.fadeInOnLoad.visible {
  animation: fadeInUp 0.7s ease-out forwards;
}

@media (max-width: 768px) {
    .sectionContainer {
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .heroSection,
    .stepsSection,
    .ctaSection {
        width: 100%;
    }
    
    .stepItem {
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    .stepItem p {
    text-align: justify;
  }
}