.contactContainer{
    max-width:1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EAEAEA;
    font-family: "Roboto Mono";
}
.header h3{
    font-size:1.4rem;
    color:#EAEAEA;
}
.header h2{
    font-size:1.2rem;
    color:#EAEAEA;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap:1rem;
}
.contactCard{
    min-width: 25rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin:3rem 0rem;
}
.contactItem{
    box-sizing: border-box;
    width:100%;

    min-width: 25rem;
    max-width: 50rem;
    min-height: 5rem;
    max-height: 7rem;
    padding:1rem;
    background-color: #2A2F33;
    border-radius: 1rem;

    display:flex;
    flex-direction: row;
    gap:1rem;   

    align-items:center;
}

.businessHoursItem {
    box-sizing: border-box;
    width:100%;
    min-width: 25rem;
    max-width: 50rem;

    padding:1rem;
    background-color: #2A2F33;
    border-radius: 1rem;

    display:flex;
    flex-direction: row;
    gap:1rem;

    align-items:center;
}

.itemHeader{
    display:flex;
    flex-direction: row;
    gap:3rem;
}
.icon{
    display:flex;
    justify-content: center;
    align-items: center;
    left:0 auto;
    height:100%;
    width:2.5rem;
    margin:0rem 1rem;
    font-size:1.5rem;
}
.itemDetails{
    display:flex;
    flex-direction: column;
    line-height: 1.5;
    width:100%;
}
.itemDetails h3 {
    margin-bottom: auto;
    display: flex;
    left:0 auto; 
}
.itemDetails p {
    margin: 0;
}
.CopyBox{
    background-color: #466783;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-right: auto;
    cursor:pointer;
}
.CopyBox .copyIcon{
    margin-right:1rem;
    height:75%;
}
.CopyBox span{
    padding:0.25rem;
    margin:0rem 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInOnLoad {
  opacity: 0;
}

.fadeInOnLoad.visible {
  animation: fadeInUp 0.7s ease-out forwards;
}

@media (max-width: 768px) {
  .contactContainer {
    margin: 0 2rem;
  }
}
